html {
	height: 100vh;
	display: grid;
}
body {
	height: 100vh;
	margin: 0;
}
.container {
	background: #111;
	height: 100%;
	display: grid;
	grid-template-rows: 1.618fr 1fr;
	align-items: start;
}
.main, .options {
	background: #333;
	min-height: 100%;
	max-height: 100%;
	display: grid;
	overflow: auto;
}
.main {
	grid-template-rows: 1fr 0;
	align-content: stretch;
}
.main > noscript,
.options {
	color: #FFF;
	font: 16px Calibri;
}
.main > noscript {
	padding: 8px;
}
.main > noscript > a {
	color: #0FA;
	text-decoration: none;
}
.options {
	padding: 8px;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	grid-gap: 8px;
	align-content: start;
	box-sizing: border-box;
}
.options-item {
	display: grid;
	grid-gap: 4px;
	overflow: hidden;
	user-select: none;
}
.options-item > * {
	justify-self: start;
	box-sizing: border-box;
}
.options-item > input[type="input"],
.options-item > select {
	width: 100%;
}
.options-item > label {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 4px;
}
.output {
	color: #0FA;
	overflow: hidden;
	text-overflow: ellipsis;
}
