/* Themes */
@import url(css/theme-default.css);
@import url(css/theme-light.css);

/* Main */
.opencanvas {
	font: 16px monospace;
}

.opencanvas-container {
	position: relative;
	display: grid;
	/*width: fit-content;
	height: fit-content;*/
	overflow: hidden;
}

.opencanvas-frame {
	display: grid;
}

.opencanvas-canvas {
	background: #000;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.opencanvas-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: var(--overlay-color);
	background: var(--overlay-background-color);
}
.opencanvas-overlay:after {
	content: 'Loading...';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
